.recog-card {
    position: fixed;
    right: 50px;
    top: 30px;
    display: flex;
    height: 100px;
    width: 250px;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 10px;
    z-index: 15;
}

.recog-card > span {
    flex: 1;
}

.speaker {
    width: 50px;
    height: 50px;
}