.instructor-left *{
    margin: 0px;
}

.instructor-left {
    width: 400px;
    height: 100%;
    position: fixed;
    background: #2e3131;
    color: #FFF;
    box-shadow: 2.6px 0px 10px #333;
}

.image-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.image-container img {
    width: 400px;
    height: auto;
    min-height: 400px;
}

.basic-info-container {
    padding: 40px 20px;
}

.basic-info-container span {
    margin: 0px 15px
}


@media only screen and (max-width : 800px) and (orientation : portrait){

    .instructor-left {
        display: block;
        width: 100%;
        height: auto;
        position: static;
    }

    .image-container {
        width: 100%;
        height: 395px;
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width : 800px) and (orientation : landscape){
    .instructor-left {
        display: block;
        width: 100%;
        height: 400px;
        position: static;
    }

    .image-container {
        width: 400px;
        height: 400px;
        display: inline-block;
        vertical-align: text-top;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .basic-info-container {
        display: inline-block;
        width: calc(100% - 450px);
        vertical-align: text-top;
        font-size: 0.8em;
    }
}