.upload-course {
    display: flex;
    justify-content: center;
    background: #22313f;
    min-height: 100vh;
    flex-direction: column;
    align-content: center;
}
.upload-course-initial {
    width: 1080px !important;
    display: flex;
    align-content: center;
    background: #FFF;
    height: auto;
    padding: 40px 50px;
    max-height: 550px;
    margin: 0px auto;
}

.category-check {
    display: inline-block !important;
    width: 40px;
    margin: 0px;
    margin-top: 5px;
}

.category-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    height: 20px;
    width: 250px;
}

.category-container h4 {
    margin: 0px;
    font-family: sans-serif !important;
}

.categories {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.form-part {
    display: flex;
    flex-direction: column;
}

.form-right{
    width: 600px;
}

#create-course {
    width: 150px !important;
    margin-left: auto;
    border: none;
    padding: 15px 0px;
    background: #22313f;
    color: #FFF;
    margin-top: 20px;
    cursor: pointer;
}

.upload-course-image {
    background: #22313f !important;
    cursor: pointer;
}

.form-left{
    flex: 1;
    margin-right: 50px;
}

.form-left img {
    width: 100%;
    height: 370px;
}

.form-part-contain {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.form-part-contain label {
    width: 150px;
    font-family: sans-serif !important;
}

.form-part-contain input {
    flex: 1;
    width: 100% !important;
    height: 35px;
    font-size: 1.2em;
    padding-left: 10px;
}
.form-part-contain textarea {
    flex: 1;
    width: 100% !important;
    margin-bottom: 0px !important;
    background: #FFF;
    border: 1px solid #AAA;
    height: 200px !important
}