.course-header {
    width: 100%;
    height: auto;
    background: #22313f;
    padding: 50px 0px;
    font-family: 'Prime', sans-serif;
}

.header-container {
    width: 920px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
    color: #FFF;
}

.left-colum {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    margin-right: 50px;
}

.left-colum img {
    width: 250px;
    height: auto;
}

.right-colum {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colum {
    display: flex;
    flex-direction: column;
}

#add-course {
    max-height: 40px;
    background: #FFF;
    width: 150px;
    margin-left: auto;
    border: none;
    padding: 20px 0px;
    line-height: 0px;
    cursor: pointer;
}

@media only screen and (max-width : 1080px) {
    .header-container {
        width: 90%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0px auto;
        color: #FFF;
        flex-direction: column;
    }

    .left-colum {
        text-align: center;
        width: 100%;
    }

    .left-colum img {
        margin: 0px auto !important;
    }

    #add-course {
        height: 40px !important;
        max-height: unset;
        min-height: 40px;
    }
}