.course {
    width: 215px;
    height: 350px;
    background: #d7dbe0;
    margin: 0px 10px !important;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    color: #2e3131;
    border-radius: 5px;
}

.course img{
    width: 215px;
    height: 215px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.course-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;
    padding: 0px;
}

.course-name {
    font-size: 18px;
    width: calc(100% - 16px);
    padding: 15px 10px 0px 15px;
    flex: 1;
    margin: 0px 0px 10px 0px;
}

.instructor-name{
    font-size: 14px;
    margin: 0px 0px;
    flex: 1;
    padding-left: 15px;
}

.go-to-course {
    text-align: center;
    color: #FFF;
    text-decoration: none;
    background: #2e3131;
    flex: 1;
    max-height: 30px;
    line-height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media only screen and (max-width : 920px) {
    div.course {
        margin-left: 0px !important;
        margin-right: 40px !important; 
        height: 120px;
        flex-direction: row;
        min-width: 300px;
    }

    .course img {
        width: 120px;
        height: 120px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
    }

    .course-name {
        padding: 8px 5px 0px 10px;
    }

    .go-to-course {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }
}