.footer-body {
    background: #2e3131;
    width: 100%;
    padding: 50px 0px 20px 0px;
}

.footer-container {
    width: 1080px;
    margin: 0px auto;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid #FFF;
}

.footer-menu > h3 {
    color: #FFF;
    font-family: 'Prime', sans-serif;
    margin-left: 20px;

}

.footer-menu > ul {
    list-style-type: none;
}

.footer-menu > ul > a {
    text-decoration: none;
    color: #FFF;
    font-family: sans-serif;
    line-height: 30px;
    font-size: 1.2em;
}

.footer-details {
    line-height: 25px;
    color: #FFF;
    font-family: sans-serif;
    text-align: right;
    max-width: 450px;
}

.footer-details > h4 {
    margin-right: 40px;
}

.footer-details > h3 {
    font-family: 'Prime', sans-serif;
    margin-right: 20px;
}

.footer-email {
    font-family: 'Prime', sans-serif;
}

.footer-social {
    font-family: sans-serif;
    color: #FFF;
}

.footer-social > h3 {
    font-family: 'Prime', sans-serif;
}

.footer-social > ul {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.footer-social > ul > li {
    flex: 1;
    display: flex;
}

.footer-social > ul > li > img {
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

.footer-social > ul > li > h4 {
    line-height: 15px;
    padding-left: 20px;
}

.footer-social > ul > li > h4 > a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Prime', sans-serif
}

.footer-lower {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-lower > img {
    height: 60px;
    margin: 0px 80px 0px 0px;
}

.copyright {
    color: #FFF;
    font-family: sans-serif;
}

.choose-language {
    font-family: sans-serif;
    color: #FFF;
}

.choose-language > ul {
    list-style-type: none;
    display: flex;
}

.choose-language > ul > li {
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}

@media only screen and (max-width : 1441px) {
    .footer-container {
        width: 920px;
    }
}

@media only screen and (max-width : 920px) {
    .footer-container {
        width: 100%;
    }
    
    .footer-upper {
        flex-direction: column;
        align-items: center;
        max-width: unset;
        max-width: unset;
        width: 100% !important;
    }

    .footer-upper > * {
        text-align: center;
    }

    .footer-menu > h3 {
        margin-left: 0px;
    }

    .footer-menu > ul {
        padding: 0px;
    }

    .footer-details > h3 {
        margin-right: 0px;
    }

    .footer-details > h4 {
        margin-right: 0px;
        padding: 0px 15px;
    }

    .footer-social > ul {
        padding-left: 0px;
    }

    .footer-lower {
        flex-direction: column;
        width: 100%;
    }

    .footer-lower > h4,div {
        margin: auto;
    }

    .choose-language > ul {
        padding-left: 0px !important;
    }

    .footer-lower > img {
        width: 80px;
        margin: auto;
        margin-bottom: 15px;
    }
}