.search {
    width: 920px;
    display: flex;
    padding: 80px 0px 20px 0px;
    margin: 0px auto;
}

.search h2{
    line-height: 45px;
    padding-right: 30px;
    padding-left: 30px;
    background: #2e3131;
    color: #FFF;
    margin: 0px;
}

#search {
    flex: 1;
    height: 45px;
    font-size: 30px;
    padding: 0px 10px;
}

#search-go{
    background: #2e3131;
    color: #FFF;
    border: none;
    cursor: pointer;
}

#search-go img {
    width: 45px;
    padding: 0px 30px;
}

@media only screen and (max-width : 1080px) {
    .search {
        width: 80%;
    }
    #search {
        max-width: calc(100% - 105px);
    }
    .search h2 {
        display: none;
    }
    #search-go img{
        padding: 0px 15px;
    }
}