.list-quetions-body{
    background: #e8ecf1;
    min-height: calc(100vh - 200px);
    padding: 100px 0px;
}

.list-questions-container{
    width: 880px;
    height: auto;
    margin: auto;
}

.ask-question {
    font-family: sans-serif;
    text-align: center;
    background: #FFF;
    padding: 10px 0px;
    margin: 10px auto;
    font-weight: 600;
}

.ask-question > a {
    text-decoration: none;
    color: #444;
}

#support-logo {
    width: 400px;
    margin-left: calc(50% - 200px);
    margin-top: -85px;
}

@media only screen and (max-width : 920px) {
    .list-questions-container {
        width: 80%;
    }
}